<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift3.0Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04968D9F1EB9A3A400453673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04968DB31EB9A3A500453673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04968DBE1EB9A3A500453673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
